@import url("https://fonts.googleapis.com/css?family=Sanchez&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Sanchez', serif;
}

.row {
  margin: 0px !important;
}

.h-row {
  position: relative;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #000000;
  padding: 1px 0px;
}

.head-contact, .head-social {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-contact span, .head-social span {
  font-size: 14px;
  color: #7E7E7E;
  line-height: 30px;
  margin-right: 15px;
}

.head-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  background: #fff;
}

.navbar {
  padding: 0px !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-link {
  color: #000;
  padding: 28px 27px 28px !important;
  margin-left: 17px;
  line-height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  border-bottom: 1px solid transparent;
}

.nav-link:hover {
  color: #0C1426;
}

.nav-link:active {
  color: #0C1426;
}

.dropdown-menu {
  border-top: 2px solid #0C1426 !important;
  border-radius: 0 !important;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.dropdown-menu .dropdown-item {
  border-bottom: 1px solid #dddddd;
  border-bottom-width: 90%;
  padding: 0.25rem 1rem;
  text-align: left;
  color: #7E7E7E;
}

.dropdown-menu .dropdown-item:hover {
  background: transparent;
  border-bottom-color: #0C1426;
  color: #000000;
}

.carousel-caption {
  bottom: 30px;
}

.s-row {
  margin-top: 33px !important;
}

.s-card {
  position: relative;
  display: flexbox;
}

.s-card p {
  margin: 10px 3px;
  color: #7E7E7E;
  font-weight: 550;
}

.s-card a {
  color: #0C1426;
}

.s-card a:hover {
  text-decoration: none;
}

.s-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-title .icon {
  background-color: #0C1426;
  border-radius: 50%;
  padding: 12px;
}

.co-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FCFCFC;
  margin: 45px 0px;
  padding: 15px;
  border: 2px solid #eaeaea;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-card {
  margin: 20px 0px 50px;
}

.img-card h3 {
  margin: 5px;
}

.p-card {
  position: relative;
  width: 230px;
  height: 160px;
  overflow: hidden;
}

.p-card img {
  width: 100%;
  height: 100%;
}

.p-card:hover .p-card-hover {
  visibility: visible;
  left: 5.5%;
  bottom: 0;
}

.p-card-hover {
  visibility: hidden;
  position: absolute;
  width: 89.6%;
  height: 100%;
  opacity: 0.8;
  background: #0C1426;
  left: -50%;
  bottom: -30%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.p-card-hover .j-view {
  position: absolute;
  top: 10px;
  right: 5%;
}

.p-card-hover .j-view span {
  background: #fff;
  color: #0C1426;
  padding: 4px 10px 5px 10px;
}

.p-card-hover .p-title-bottom {
  position: absolute;
  bottom: 0;
  left: 10px;
}

.p-card-hover .p-title-bottom small {
  color: #fff;
}

.p-card-hover .p-title-bottom h6 {
  background: #fff;
  padding: 8px 12px;
}

.q-row {
  position: relative;
  display: flexbox;
}

.q-card-full {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0px;
}

.q-date {
  display: block;
  margin-right: 20px;
}

.q-date span:first-child {
  background: #0C1426;
  color: #ffffff;
  padding: 16px 16px;
  font-size: 23px;
  line-height: 57px;
}

.q-date span {
  background: #000;
  color: #fff;
  padding: 5px 11px;
}

.q-news {
  display: block;
}

.q-news h1 a {
  font-size: 17px;
  color: #000;
}

.q-news h1 a:hover {
  color: tomato;
}

.q-news small span {
  color: tomato;
}

.q-news p {
  color: #7E7E7E;
  margin-top: 10px;
}

.q-blockquote {
  display: block;
}

.q-blockquote blockquote {
  background: #FCFCFC;
  border: 2px solid #e6e6e6;
  padding: 25px 55px;
  font-size: 15px;
  color: #7E7E7E;
}

.quote-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.quote-profile img {
  margin-right: 20px;
}

.quote-profile h6 {
  color: tomato;
  margin-bottom: 0px;
}

.team-card {
  display: flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.team-card .profile-social {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  width: 89.3%;
  height: 200px;
  opacity: 0;
  background: #000;
  z-index: 777;
  -webkit-transition: opacity 0.6s ease-in;
  transition: opacity 0.6s ease-in;
}

.team-card .profile-social span {
  color: #fff;
  margin: 5px;
}

.team-card img {
  width: 100%;
  height: 200px;
}

.team-card .team-person-name {
  position: absolute;
  background: #fff;
  text-align: center;
  width: 70%;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 12px 15px 8px;
  border: 1px solid #b3b3b3;
  z-index: 888;
}

.team-card .team-person-name h1 {
  font-size: 16px;
  margin-bottom: -2px;
}

.team-card .team-person-name span {
  color: tomato;
}

.team-card .team-person-info {
  border: 1px solid #b3b3b3;
  padding: 60px 30px 15px;
  text-align: center;
  color: #7E7E7E;
}

.team-card:hover .profile-social {
  visibility: visible;
  opacity: 0.8;
}

.clients {
  margin: 20px 0px 50px;
}

.bg-sec {
  background: #633974;
}

.break-twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0px;
}

.break-twitter span {
  color: #fff;
}

.break-twitter p {
  padding-top: 15px;
  color: #fff;
}

.arrow-twitter {
  display: inline;
}

.arrow-twitter span {
  background: #fff;
  color: #000;
  padding: 2px 8px;
}

footer {
  background: #0C1426;
}

.first-col {
  display: block;
  color: #7E7E7E;
}

.first-col img {
  margin-top: 20px;
  margin-left: -50px;
}

.first-col p {
  font-size: 15px;
  margin: 20px 0px;
}

.first-col span {
  margin-bottom: 20px;
  font-size: 15px;
}

.sec-col {
  display: block;
  float: left;
  margin: 40px 15px 10px;
}

.sec-col h6 {
  color: #fff;
  border-bottom: 1px solid #7E7E7E;
  padding: 8px 0px;
}

.sec-col ul {
  display: block;
  list-style-type: none;
  margin: 20px 0px 4px;
  width: 100%;
}

.sec-col ul li {
  float: left;
  margin: 5px 0px;
  border-bottom: 1px solid #7E7E7E;
  width: 100%;
  text-align: left;
  border-bottom-width: 100%;
  padding: 8px 0px;
  font-size: 13px;
}

.sec-col ul li:last-child {
  border-bottom-color: transparent;
}

.sec-col ul span {
  color: #7E7E7E;
  margin-right: 15px;
}

.sec-col ul a {
  color: white;
  text-transform: none;
  text-decoration: none;
}

.sec-col ul a:hover {
  color: tomato;
}

label {
  color: #7E7E7E;
}

input, textarea {
  background: #0A0A0A !important;
  color: #FCFCFC !important;
}

.footer-footer {
  background: #171717;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  padding: 10px;
}

.footer-footer .theme-info {
  display: block;
  color: #7E7E7E;
}

.footer-footer .theme-info p {
  margin-bottom: 0px;
}

.footer-footer .theme-info span a {
  color: #fff;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  color: #838383;
  border: 1px solid #838383;
  margin-right: 10px;
}

.social-footer span:hover {
  background: #0C1426;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */